.manage__differents__smcontainer {
    display: flex;
    flex-direction: row;
    background-color: 	#FFF0EC;
    border-radius: 10px;

}

.manage__differents__title {
    padding-left: calc(#{$padding-left} * 1.5);
    border-radius: 10px;
    flex-grow: 2;
    margin: 0;
    margin-top: 0.5rem;
}


.button__number {
    height: 40px;
    padding-top: calc(#{$padding-top} /2);
    padding-bottom: calc(#{$padding-bottom} / 2);
    padding-left: calc(#{$padding-left} * 1.5);
    padding-right: calc(#{$padding-right} * 1.5);
    color: white;
    background-color: #FF4500;
    border: none;
    border-radius: 30px;


}

.manage__differents__navigation--list {
    list-style: $list-style;
    margin-top: calc(#{$margin-top} * 3);
    
}

.manage__differents__navigation--lists {
 padding: 0;
}

.manage__different__head {
    text-align: center;
    justify-content: center;
}


// @media (min-width: 800px) {

// }

