

.manage-header {
    background-image: url('../images/bg-tablet-pattern.svg');
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: 100px -56px;

}

.masthead {
  position: relative;
    
  &__navigation__list {
      list-style: $list-style
  }

  &__navigation__lists--anchore {
      text-decoration: $text-decoration;
  }

  &__logo{
      margin-top: calc(#{$margin-top} * 2);
      margin-inline-start: calc(#{$margin-inline-start} * 2);
  }
}

.manage__bring__image {
    width: 100%;
}

.bar {
    position: absolute;
    top:calc(#{$top} * 2);
    right: $right;
    
}

.check {
    zoom: 2;
    top: calc(#{$top} / 2);
    position: absolute;
    right: calc(#{$right} / 3);
    opacity: 0;
}

.manage__bring {
    background-image: url('../images/bg-tablet-pattern.svg');
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: 120px 200px;
    text-align: center;
    justify-content: center;
}

.manage__bring__button {
    padding-top: $padding-top;
    padding-bottom: $padding-bottom;
    padding-left: calc(#{$padding-left} * 2);
    padding-right: calc(#{$padding-right} * 2);
    color: white;
    background-color: #FF4500;
    border: none;
    border-radius: 30px;
}

.manage__what__containerbutton {
   
}

.masthead__button {
    padding-top: $padding-top;
    padding-bottom: $padding-bottom;
    padding-left: calc(#{$padding-left} * 2);
    padding-right: calc(#{$padding-right} * 2);
    color: white;
    background-color: #FF4500;
    border: none;
    border-radius: 30px;
}

.masthead__button {
    display: none;
}


.masthead__navigation {
    background-color: white;
    width: 250px;
    left: -200px;
    padding: calc(#{$padding} * 2);
    position: relative;
    
}


.masthead__navigation__lists {
    margin: calc(#{$margin} * 2);
}


input[type=checkbox]:checked + .masthead__navigation {
   transform: translateX(50%);
   transition: all 0.5s ease;
   margin-inline-start:  calc(#{$margin-inline-start} * 2);
   margin-inline-end:  calc(#{$margin-inline-end} * 2);
}

input[type=checkbox]:not(:checked) + .masthead__navigation {
    transform: translateX(-100%);
    transition: all 0.5s ease-out;
    left: -300px;
    margin-inline-start: $margin-inline-start;
}

.masthead__button {
    display: none;
}

.manage__bring__image {
    margin-top: calc(#{$margin-top} * -23);
}


@media (min-width: 800px) {
    .bar {
        display: none;
    }

    .check {
        display: none;
    }

    .masthead__button {
        display: block;
    }

    .masthead__navigation {
        background-color: transparent;
        margin-top: calc(#{$margin-top} * 1);
        color: black;
        
        
    }

    .masthead__navigation__list {
        display: flex;
        color: black;
    }


   input[type=checkbox]:not(:checked) + .masthead__navigation {
        transform: translateX(0);
        transition: none;
        left: 0;
        // margin-inline-start: 5%;
        top: calc(#{$top} * -3)
    }


    .masthead__button {
      display: block;
      position: absolute;
      right: calc(#{$right} * 3);
      top: calc(#{$top} * 2)
  }

  .masthead {
      display: flex;
  }

  .manage__bring__image {
    margin-top: 0;
}
}