

.manage-header {
    background-image: url('../images/bg-tablet-pattern.svg');
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: 100px -56px;

}

.masthead {
  position: relative;
    
  &__navigation {
      position: relative;
  }

  &__navigation__list {
      list-style: $list-style
  }

  &__navigation__lists--anchore:hover {
      color: rgb(182, 174, 174);
  }

  &__navigation__lists--anchore {
      text-decoration: $text-decoration;
  }

  &__logo{
      margin-top: calc(#{$margin-top} * 2);
      margin-inline-start: calc(#{$margin-inline-start} * 2);
  }
}

.manage__bring__image {
    width: 100%;
}

.bar, .button__open {
    position: absolute;
    top:calc(#{$top} * 2);
    right: $right;
    
}

.masthead__closebutton {
    position: absolute;
    right: $right;
}

.manage__bring__subtitle {
      font-size: 32px;
  }

.check {
    zoom: 4;
    top: calc(#{$top} / 5);
    position: absolute;
    right: calc(#{$right} / 5);
    opacity: 0;
}

.manage__bring {
    background-image: url('../images/bg-tablet-pattern.svg');
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: 120px 200px;
    text-align: center;
    justify-content: center;
}

.manage__bring__button {
    padding-top: $padding-top;
    padding-bottom: $padding-bottom;
    padding-left: calc(#{$padding-left} * 2);
    padding-right: calc(#{$padding-right} * 2);
    color: white;
    background-color: #FF4500;
    border: none;
    border-radius: 30px;
}


.manage__bring__button:hover,
.masthead__button:hover {
    box-shadow:  2px 10px 0px #f78d6744;
    opacity: 0.5;
}

.manage__what__containerbutton {
   
}

.masthead__button {
    padding-top: $padding-top;
    padding-bottom: $padding-bottom;
    padding-left: calc(#{$padding-left} * 2);
    padding-right: calc(#{$padding-right} * 2);
    color: white;
    background-color: #FF4500;
    border: none;
    border-radius: 30px;
}

.masthead__button {
    display: none;
}


.masthead__navigation {
    background-color: white;
    width: 250px;
    left: -200px;
    padding: calc(#{$padding} * 2);
    position: relative;
    
    
}

.button__open {
    background-color: transparent;
    border: none;
}


input[type=checkbox] ~ .image__open { display: none; }
input[type=checkbox]:checked ~ .image__close { display: none; }




.masthead__navigation__lists {
    margin: calc(#{$margin} * 2);
}


input[type=checkbox]:checked + .masthead__navigation {
   transform: translateX(50%);
   transition: all 0.5s ease;
   margin-inline-start:  calc(#{$margin-inline-start} * 2);
   margin-inline-end:  calc(#{$margin-inline-end} * 2);
}

input[type=checkbox]:not(:checked) + .masthead__navigation {
    transform: translateX(-100%);
    transition: all 0.5s ease-out;
    left: -300px;
    margin-inline-start: $margin-inline-start;
}


input[type=checkbox]:checked ~ .curtain {
    .curtain {
	background-color: rgba(145, 148, 144, 0.5);
	z-index: 1;
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
    right: 0;
    
    }

}

.masthead__button {
    display: none;
}

.manage__bring__image {
    margin-top: calc(#{$margin-top} * -23);
}





@media (min-width: 800px) {
    .bar {
        display: none;
    }

    .check {
        display: none;
    }

    .masthead__button {
        display: block;
    }

    .masthead__navigation {
        background-color: transparent;
        margin-top: calc(#{$margin-top} * 1);
        color: black;
        
        
    }

    .masthead__navigation__list {
        display: flex;
        color: black;
    }


   input[type=checkbox]:not(:checked) + .masthead__navigation {
        transform: translateX(0);
        transition: none;
        left: 0;
        // margin-inline-start: 5%;
        top: calc(#{$top} * -3)
    }


    .masthead__button {
      display: block;
      position: absolute;
      right: calc(#{$right} * 3);
      top: calc(#{$top} * 2)
  }

  .masthead {
      display: flex;
  }

  .manage__bring__image {
    margin-top: 0;
  }

  .manage__bring__imageconatiner {
      width: 50%;
      margin-inline-start: auto;
  }

  .manage__bring__conatiner {
      width: 50%;
      margin-inline-end: auto;
      
  }


//   .manage__bring__subtitle,
//   .manage__bring__paragraph,
//   .manage__bring__button {
//       justify-content: start;
//       text-align: start;
//       margin-inline-start: calc(#{$margin-inline-start} * 2);
//   }


  .manage__bring__conatiner {
        justify-content: start;
        text-align: start;
        margin-inline-start: calc(#{$margin-inline-start} * 2);
        position: absolute;
        top: calc(#{$top} * 14);
        width: 40%;
    
  }

  .manage__bring__subtitle {
      font-size: 32px;
  }
}