

.manage__what__subcontainer {
   position: relative;
   margin-right: calc(#{$margin-right} * 1);
   

}



.container__slide {
    overflow: hidden;
    display: flex;
}


.manage__what__container {
    display: flex;
    justify-content: space-around;
    margin-top: calc(#{$margin-top} * 6);
    
}



.manage__what__image {
  position: absolute;
  top: -12%;
  left: 25%;
 
}

.manage__what__title {
    margin-top: 5rem
}





.manage__what__smcontainer {
    background-color: rgb(214, 213, 213);
    text-align: center;
    justify-content: center;
    padding: $padding;
    margin-top: calc(#{$margin-top} * 3);
    margin-bottom: calc(#{$margin-bottom} * 3);
   width: 300px;
}

.manage__what__button {
    padding-top: $padding-top;
    padding-bottom: $padding-bottom;
    padding-left: calc(#{$padding-left} * 2);
    padding-right: calc(#{$padding-right} * 2);
    color: white;
    background-color: #FF4500;
    border: none;
    border-radius: 30px
}

.manage__what__containerbutton {
    margin-top: 2rem;
}


.manage__slider__container {
    position: relative;
    width: 100%;
    height: 100%;
    
}

.manage__menu {
    position: absolute;
    left: 0;
    z-index: 900;
    width: 100%;
    bottom: 0;
    text-align: center;
}


.manage__menu label {
    cursor: pointer;
    display: inline-block;
    width: 9px;
    height: 9px;
    background-color: #fff;
    border-radius: 50px;
    &:hover {
        background-color: orange;
    }
}


.slide-dot {
    border: gray solid 2px;

}


[id^="slide"]:checked + .slide {
  left: 0;
  z-index: 100;
  transition: right .65s ease-out;
}

.slide {
  width: 100%;
  height: 100%;
  z-index: 10;
  transition: left 0s .75s;
}


// .manage__what__paragraph {
//     padding: 2rem;
// }

