body {
  padding: 0;
  margin: 0;
  max-width: 1440px;
  max-height: 2724px;
  margin-inline-start: auto;
  margin-inline-end: auto; }

.manage-header {
  background-image: url("../images/bg-tablet-pattern.svg");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: 100px -56px; }

.masthead {
  position: relative; }
  .masthead__navigation {
    position: relative; }
  .masthead__navigation__list {
    list-style: none; }
  .masthead__navigation__lists--anchore {
    text-decoration: none; }
  .masthead__logo {
    margin-top: calc(1rem * 2);
    margin-inline-start: calc(1rem * 2); }

.manage__bring__image {
  width: 100%; }

.bar, .button__open {
  position: absolute;
  top: calc(1rem * 2);
  right: 1rem; }

.masthead__closebutton {
  position: absolute;
  right: 1rem; }

.manage__bring__subtitle {
  font-size: 32px; }

.check {
  zoom: 4;
  top: calc(1rem / 5);
  position: absolute;
  right: calc(1rem / 5);
  opacity: 0; }

.manage__bring {
  background-image: url("../images/bg-tablet-pattern.svg");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: 120px 200px;
  text-align: center;
  justify-content: center; }

.manage__bring__button {
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: calc(1rem * 2);
  padding-right: calc(1rem * 2);
  color: white;
  background-color: #FF4500;
  border: none;
  border-radius: 30px; }

.masthead__button {
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: calc(1rem * 2);
  padding-right: calc(1rem * 2);
  color: white;
  background-color: #FF4500;
  border: none;
  border-radius: 30px; }

.masthead__button {
  display: none; }

.masthead__navigation {
  background-color: white;
  width: 250px;
  left: -200px;
  padding: calc(1rem * 2);
  position: relative; }

.button__open {
  background-color: transparent;
  border: none; }

input[type=checkbox] ~ .image__open {
  display: none; }

input[type=checkbox]:checked ~ .image__close {
  display: none; }

.masthead__navigation__lists {
  margin: calc(1rem * 2); }

input[type=checkbox]:checked + .masthead__navigation {
  transform: translateX(50%);
  transition: all 0.5s ease;
  margin-inline-start: calc(1rem * 2);
  margin-inline-end: calc(1rem * 2); }

input[type=checkbox]:not(:checked) + .masthead__navigation {
  transform: translateX(-100%);
  transition: all 0.5s ease-out;
  left: -300px;
  margin-inline-start: 1rem; }

input[type=checkbox]:checked ~ .curtain .curtain {
  background-color: rgba(145, 148, 144, 0.5);
  z-index: 1;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0; }

.masthead__button {
  display: none; }

.manage__bring__image {
  margin-top: calc(1rem * -23); }

@media (min-width: 800px) {
  .bar {
    display: none; }
  .check {
    display: none; }
  .masthead__button {
    display: block; }
  .masthead__navigation {
    background-color: transparent;
    margin-top: calc(1rem * 1);
    color: black; }
  .masthead__navigation__list {
    display: flex;
    color: black; }
  input[type=checkbox]:not(:checked) + .masthead__navigation {
    transform: translateX(0);
    transition: none;
    left: 0;
    top: calc(1rem * -3); }
  .masthead__button {
    display: block;
    position: absolute;
    right: calc(1rem * 3);
    top: calc(1rem * 2); }
  .masthead {
    display: flex; }
  .manage__bring__image {
    margin-top: 0; }
  .manage__bring__imageconatiner {
    width: 50%;
    margin-inline-start: auto; }
  .manage__bring__conatiner {
    width: 50%;
    margin-inline-end: auto; }
  .manage__bring__conatiner {
    justify-content: start;
    text-align: start;
    margin-inline-start: calc(1rem * 2);
    position: absolute;
    top: calc(1rem * 14);
    width: 40%; }
  .manage__bring__subtitle {
    font-size: 32px; } }

.footer__simplify {
  background-color: #FF4500;
  color: white;
  padding: calc(1rem * 2);
  margin-top: calc(1rem / 0.5);
  justify-content: space-between; }

.footer__simplify__button {
  background-color: white;
  color: #FF4500;
  border: none;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: calc(1rem * 2);
  padding-right: calc(1rem * 2);
  border-radius: 30px; }

.footer__updates {
  background-color: black;
  color: white; }

.footer__updates__inbox {
  background-color: white;
  color: #FF4500;
  border: none;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: calc(1rem * 2);
  padding-right: calc(1rem * 2);
  border-radius: 30px;
  margin-top: 1rem; }

.footer__updates__go {
  background-color: #FF4500;
  color: white;
  border: none;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: calc(1rem * 2);
  padding-right: calc(1rem * 2);
  border-radius: 30px;
  margin-top: 1rem; }

.footer__updates__inbox {
  margin-inline-start: 1rem; }

.footer__updates__indice {
  padding: calc(1rem * 1.5); }

.footer__updates__navigation2--anchore {
  margin: calc(1rem / 2); }

.footer__updates__navigation--list {
  list-style: none; }

.footer__updates__navigation--lists {
  margin-top: 1rem; }

.footer__updates__navigation--anchore {
  text-decoration: none;
  color: #d3d0d0; }

.footer__updates__navigation2--list {
  list-style: none;
  display: flex; }

.footer__updates__navigation--list {
  columns: 2;
  padding: calc(1rem * 2); }

.footer__updates__navigation2--anchore {
  text-indent: -9999px;
  display: inline-block; }

.youtube {
  background-image: url("../images/icon-youtube.svg");
  background-repeat: no-repeat;
  padding: 1rem; }

.facebook {
  background-image: url("../images/icon-facebook.svg");
  background-repeat: no-repeat;
  padding: 1rem; }

.twitter {
  background-image: url("../images/icon-twitter.svg");
  background-repeat: no-repeat;
  padding: 1rem; }

.pinterest {
  background-image: url("../images/icon-pinterest.svg");
  background-repeat: no-repeat;
  padding: 1rem; }

.instagram {
  background-image: url("../images/icon-instagram.svg");
  background-repeat: no-repeat;
  padding: 1rem; }

@media (min-width: 600px) {
  .footer__simplify {
    display: flex; } }

.manage__differents__smcontainer {
  display: flex;
  flex-direction: row;
  background-color: #FFF0EC;
  border-radius: 10px; }

.manage__differents__title {
  padding-left: calc(1rem * 1.5);
  border-radius: 10px;
  flex-grow: 2;
  margin: 0;
  margin-top: 0.5rem; }

.button__number {
  height: 40px;
  padding-top: calc(1rem /2);
  padding-bottom: calc(1rem / 2);
  padding-left: calc(1rem * 1.5);
  padding-right: calc(1rem * 1.5);
  color: white;
  background-color: #FF4500;
  border: none;
  border-radius: 30px; }

.manage__differents__navigation--list {
  list-style: none;
  margin-top: calc(1rem * 3); }

.manage__differents__navigation--lists {
  padding: 0; }

.manage__different__head {
  text-align: center;
  justify-content: center; }

.manage__differents {
  margin-inline-start: calc(1rem * 2);
  margin-inline-end: 1rem; }

@media (min-width: 800px) {
  .manage__different {
    display: flex;
    margin-top: calc(1rem * 4); }
  .manage__different__head {
    margin-top: calc(1rem * 2.5);
    text-align: start;
    justify-content: start;
    margin-inline-start: 1rem;
    margin-inline-end: 1rem; }
  .manage__differents {
    margin-inline-end: calc(1rem * 2); } }

.manage__what__subcontainer {
  position: relative;
  margin-right: calc(1rem * 3); }

.container__slide {
  overflow: hidden; }

.manage__what__container {
  display: flex;
  justify-content: space-around; }

.manage__what__image {
  position: absolute;
  top: -12%;
  left: 25%; }

.manage__what__title {
  margin-top: 5rem; }

.manage__what__container {
  margin-top: calc(1rem * 6); }

.manage__what__smcontainer {
  background-color: #d6d5d5;
  text-align: center;
  justify-content: center;
  padding: 1rem;
  margin-top: calc(1rem * 3);
  margin-bottom: calc(1rem * 3);
  width: 340px; }

.manage__what__button {
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: calc(1rem * 2);
  padding-right: calc(1rem * 2);
  color: white;
  background-color: #FF4500;
  border: none;
  border-radius: 30px; }

.manage__what__containerbutton {
  margin-top: 2rem; }

.manage__slider__container {
  position: relative;
  width: 100%;
  height: 100%; }

.manage__menu {
  position: absolute;
  left: 0;
  z-index: 900;
  width: 100%;
  bottom: 0;
  margin-inline-start: 50%; }

.container__slide {
  display: flex; }

.slide-dot {
  border: gray solid 2px; }

.manage__menu label {
  cursor: pointer;
  display: inline-block;
  width: 9px;
  height: 9px;
  background-color: #fff;
  border-radius: 50px; }
  .manage__menu label:hover {
    background-color: orange; }

[id^="slide"]:checked + .slide {
  left: 0;
  z-index: 100;
  transition: left .65s ease-out; }

.slide {
  width: 100%;
  height: 100%;
  z-index: 10;
  background-size: cover;
  background-position: 50% 50%;
  transition: left 0s .75s; }
